<main *ngIf="!isLoading; else loader">

  <h1>Find appropriate course for You to update the skills!</h1>

  <div class="button-container">
    <div class="button">
      <button (click)="getAllCourses('')">All courses</button>
    </div>
    <div class="button">
      <button (click)="getBeginnerCourses$('BEGINNER')">Courses for beginners</button>
    </div>
    <div class="button">
      <button (click)="getMediumCourses$('MEDIUM')">Courses for medium level</button>
    </div>
    <div class="button">
      <button (click)="getAdvanceCourses$('ADVANCED')">Courses for advance level</button>
    </div>
  </div>

<div class="courses">
  <ng-container *ngIf="!isHiddenAllCourses">
  <div class="course-container" *ngFor="let course of courses$ | async">
    <app-course [course]="course"></app-course>
  </div>
  </ng-container>

  <ng-container *ngIf="!isHiddenBeginnerCourses">
  <div class="course-container" *ngFor="let course of beginnerCourses$ | async">
    <app-course [course]="course"></app-course>
  </div>
  </ng-container>

  <ng-container *ngIf="!isHiddenMediumCourses">
    <div class="course-container" *ngFor="let course of mediumCourses$ | async">
      <app-course [course]="course"></app-course>
    </div>
  </ng-container>

  <ng-container *ngIf="!isHiddenAdvanceCourses">
  <div class="course-container" *ngFor="let course of advanceCourses$ | async">
    <app-course [course]="course"></app-course>
  </div>
  </ng-container>
</div>
</main>

<ng-template #loader>
  <div>
    LOADING...
  </div>
</ng-template>
